<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 add-post">
        <h2>Add New Post</h2>
        <hr>
        <form [formGroup]='postForm' (submit)="addPost()">
            <div class='alert alert-info' *ngIf='success'>
                <label >{{successMsg}} <span><a [routerLink]="['/posts']"><strong><i style="color:#e06e0a">Click Here</i></strong></a> to view your submitted post</span></label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">
                <div class="col-lg-4 col-md-4 col-sm-4 text-right-lg text-right-md formLabel">
                    <label for="name">Your Name :</label>
                </div>
                <div class="form-group col-lg-8 col-md-8 col-sm-10">
                    <input type="text" class="form-control" placeholder="your name" id="name" formControlName="name" />
                </div>
            </div>

             <div class="col-lg-10 col-md-10 col-sm-10">
                <div class="col-lg-4 col-md-4 text-right-lg text-right-md formLabel">
                    <label for="userId">Your UserID :</label>
                </div>
                <div class="form-group col-lg-8 col-md-8 col-sm-10">
                    <input type="text" class="form-control" placeholder="your id" id="userId" formControlName="userId" />
                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10">
                <div class="col-lg-4 col-md-4 text-right-lg text-right-md formLabel">
                    <label for="title">Post Title :</label>
                </div>
                <div class="form-group col-lg-8 col-md-8 col-sm-10">
                    <input type="text" class="form-control" placeholder="post title" id="title" formControlName="title" />
                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10">
                <div class="col-lg-4 col-md-4 text-right-lg text-right-md formLabel">
                    <label for="comment">Post Comment :</label>
                </div>
                <div class="form-group col-lg-8 col-md-8 col-sm-10">
                    <input type="text" class="form-control" placeholder="post comment" id="comment" formControlName="body" />
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right-lg text-center-xs text-center-lg text-right-md" style="margin-top:4px;padding-left:80px;float:right">
                <button type="submit" [disabled]="!postForm.valid" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>